.square{
	margin: 2px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
}
.hover{
	background: blue;
}
button{
	background: grey;
	margin: 20px auto;
	display: inline-block;
}