.square{
	margin: 0 auto;
	width: 20px;
	height: 20px;
	float: left;
	display: inline-block;
	background: white;
	border-width: 0;
}
.hover{
	
}
button{
	background: white;
	margin: 20px auto;
	display: inline-block;
}
.container{
	width: 600px;
	margin: 0 auto;
	
}
body{
	background-color: grey;
}
table{
	border-spacing: 0;
}